* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #01204e;
  color: #eeeeee;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #eeeeee;
}
